@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-poppins: "poppins", sans-serif;
    --nav-a-hover-clr: #4891ff;
    --light-clr: #f4f4f6;
    --dark-clr: #111;
    --white-clr: #fff;
    --font-a: #333;
    --video-bg: #000;
}

* {
    font-family: var(--font-poppins);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    background: var(--white-clr);
}

a {
    text-decoration: none;
    color: var(--font-a);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */
.navbar {
    background: var(--white-clr);
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--nav-a-hover-clr);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a {
    margin-left: 10px;

}

/* Hero */
.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url(../images/Images-desktop.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-text {
    width: 70%;
    margin-bottom: 20px;
}

/* video */
.video {
    padding: 10px 0 40px;
}

.video-preview {
    margin-bottom: 20px;
}

.video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Testimonials */

.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.testimonials .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;
}

/* Utility classes */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* buttons */
.btn {
    background: var(--light-clr);
    display: inline-block;
    border: 0;
    border-radius: 10px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 20px;
    color: var(--font-a);
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;

}

.btn-primary {
    background: var(--nav-a-hover-clr);
    color: var(--white-clr);
}

.btn-dark {
    background: var(--dark-clr);
    color: var(--white-clr);
}

.btn-block {
    display: block;
    width: 100%;
}

/* test classes */
.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */

.bg-primary {
    background: var(--nav-a-hover-clr);
    color: var(--white-clr);
}

.bg-light {
    background: var(--light-clr);
    color: var(--font-a);
}

.bg-dark {
    background: var(--dark-clr);
    color: var(--white-clr);
}

.bg-black {
    background: var(--video-bg);
    color: var(--white-clr);
}

.card {
    background: var(--white-clr);
    color: var(--video-bg);
    border-radius: 10px;
    padding: 20px;
}